
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* splash screen */
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #34495e;
    transition: 1s;
}
.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.maindiv .box{ 
   display: flex;
}
.maindiv .box a{
    
    top: 50%;
    text-decoration: none;
    color: white;
    display:block ;
    padding: 30px 60px 30px 60px;
    margin: 20px;
    border: 1px solid;
    font-size: 35px;
    border-radius: 5px;
    background-color: #34495e ;
    
    
}
